html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
  font-size: 125%;  
  color:white;
  padding: 5px;
  font-family: 'Fira Sans', sans-serif;
  background-image: url(./assets/michael-mroczek-440382-unsplash.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header {
  height: 100vh;
}

.headerWrapper {
  height: 100%;
  padding-top: 8.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerWrapper > p {
  font-size: 3.5rem;
  font-family: 'Amatic SC', cursive;
  width: 70%;
  text-align: center;
  color: white;
  font-weight: 700;
  line-height: 1.6;
  margin: 0;
}

/* p.description {
  line-height: 1.6;
} */

header h1 {
  text-transform: capitalize;
  font-family: 'Kalam', cursive;
  font-style: italic;
  font-size: 6rem;
  text-align: center;
  padding-right: 2%;
  padding-left: 2%;
  /* margin-bottom: 5%; */
}


h3 {
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  background: #320D6D;
  padding: 25px 0;
  font-family: 'Amatic SC', cursive;
  color: white;
}

section.calculator {
  width: 100vw;
}

div.formWrapper {
  width: 50%;
  border: 1px solid black; 
  margin: 0 auto;

  background: #FAFAFF; 
  -webkit-box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.75);
  color: #320D6D; 
}

.formRow {
  display: flex;
  justify-content: flex-end;
}

.budget {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

div.income {
  width: 100%;
}

div.income > .currentIncome {
  margin-top: 5px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  display: block;
  border-top: none;
  font-weight: 700;
}



.formRow label {
  font-size: 1.5rem;
  display: block;
}

input[type="number"] {
  width: 210px;
  margin: 7px 16px;
  font-size: 1.2rem;
  padding: 2px;
  flex: 1;
}

input:hover {
  background: #9BA2FF;
}


.submit {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
}

.submit > #submitButton {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  background: #9BA2FF;
  border: none;
  color: #171d14;
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
  margin-top: 3%;
}

#submitButton:hover {
  background: none;
  border: 4px solid black;
  color: #320D6D;
}


.balance {
  display: flex;
  align-items: center;
}

.balanceValue {
  background: none;
  padding: 5px 4px;
  margin-left: 10px;
}

/* solution to removing arrow in inputs, found on StackOverflow. Doesn't work in Firefox */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 6px;
  padding: 1%;
  font-family: 'Fira Sans', sans-serif;
}

footer > p {
  font-size: 1.2rem;
}

@media (max-width: 1240px) {
  header h1 {
    font-size: 5rem;
  }

  .headerWrapper {
    padding-top: 12%;
  }

  h3 {
    font-size: 2.2rem;
    padding: 15px 0;
  }

  p.description {
    font-size: 2.5rem;
  }

  div.formWrapper {
    width: 60%;
  }

  div.income > .currentIncome {
    font-size: 1.25rem;
  }

  .formRow label {
    font-size: 1.25rem;
  }
}

@media (max-width: 900px) {

  header h1 {
    font-size: 3.75rem;
  }

  div.formWrapper {
    width: 70%;
  }

  .headerWrapper {
    padding-top: 20vh;
  }

  p.description {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  input[type="number"] {
    width: 150px;
    margin: 7px 16px;
    font-size: 1rem;
    padding: 1px;
    font-size: 0.85rem;
  }

  div.income > .currentIncome {
    font-size: 1.1rem;
  }

  .formRow label {
    font-size: 1.1rem;
  }

  .submit > #submitButton {
    font-size: 1rem;
  }
}

@media (max-width: 750px) {
  div.formWrapper {
    width: 80%;
  } 

  footer > p {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {

  p.description {
    font-size: 1.2rem;
  }

  div.formWrapper {
    width: 92%;
  }

  .headerWrapper {
    padding-top: 15vh;
  }

  .headerWrapper p {
    font-size: 2rem;
  }

  div.income > .currentIncome {
    font-size: 1.3rem;
  }

  .currentIncome input {
    width: 150px;
    font-size: 0.7rem;
  }

  .formRow input {
    width: 150px;
    margin: 7px 20px;
    font-size: 0.7rem;
  }

  p, label {
    font-size: 1rem;
  }

  div.advice p {
    font-size: 1.3rem;
  }

  input[type="number"] {
  font-size: 0.9rem;
  padding: 2px;
  flex: 1;
  }
}

@media (max-width: 500px) {

  header h1 {
    font-size: 2.8rem;
  }

  div.formWrapper {
    width: 100%;
  }

  .formWrapper h3 {
    font-size: 1.5rem;
  }

  .headerWrapper p {
    font-size: 1.3rem;
  }

 .currentIncome input {
    width: 80px;
  }

  .formRow input {
    width: 80px;
    margin: 5px 15px;
  }

  div.income > .currentIncome {
    font-size: 1rem;
  } 
  .formRow label {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  header h1 {
    font-size: 2.6rem;
  }

  .headerWrapper {
    padding-top: 10vh;
  }

  div.formWrapper {
    margin-top: 4%;
  }

  div.income > .currentIncome {
    font-size: 0.9rem;
  } 

  .formRow label {
    font-size: 0.9rem;
  }
}